<!-- Main Blog Content -->
<div class="large-9 columns" role="content">
  <% @cursos.each do |curso| %>
    <article class="">
      <h3><a href="#"><%= curso.nome %></a></h3>

      <div class="row">
        <div class="large-6 columns">
          <p><%= curso.descricao %></p>
        </div>
        <div class="large-6 columns">
          <%= image_tag curso.imagem_url(:thumb) if curso.imagem? %>
        </div>
      </div>
      <p>
        <% if user_signed_in? %>
          <% if curso.matriculado?(current_user) %>
            <%= link_to(url_for(curso), :class => "button round small success") do %>
              <i class="foundicon-address-book"></i>&nbsp;Entrar
            <% end %>
          <% else %>
            <% if curso.inicio_previsto %>
              <%= form_for(Matricula.new) do |f| %>
                <%= f.hidden_field :curso_id, :value => curso.id %>
                <%= button_tag(type: 'submit', class: "button round small") do %>
                  <i class="foundicon-cart"></i>&nbsp;Matricule-se</a>&nbsp;
                <% end %>
                <%= link_to(detalhe_curso_path(curso), class: "button round small") do %>
                  <i class="foundicon-plus"></i>&nbsp;Ver Mais
                <% end %>
              <% end %>
            <% else %>
              <%= link_to(detalhe_curso_path(curso), class: "button round small") do %>
                <i class="foundicon-plus"></i>&nbsp;Ver Mais
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% if curso.inicio_previsto %>
            <%= link_to(new_user_session_path, :class => "button round small") do %>
              <i class="foundicon-page"></i>&nbsp;Registre-se
            <% end %>
          <% end %>
          <%= link_to(detalhe_curso_path(curso), class: "button round small") do %>
            <i class="foundicon-plus"></i>&nbsp;Ver Mais
          <% end %>
        <% end %>
      </p>
    </article>
    <hr/>
  <% end %>
</div>
<!-- End Main Content -->

<!-- Sidebar -->
<aside class="large-3 columns panel">
  <h5>Cursos</h5>
  <ul class="side-nav">
    <% Curso.all.each do |curso| %>
      <li><%= link_to curso.nome, detalhe_curso_path(curso) %></li>
    <% end %>
  </ul>
</aside>
<!-- End Sidebar -->
